@model SaludGest.DTOs.Paciente.PacienteCreateDTO

@{
    ViewData["Title"] = "Registrar Paciente";
}

<div class="container mt-5">
    <div class="row">
        <div class="card shadow-lg rounded">
            <div class="card-header bg-secondary text-white text-center py-3">
                <h1 class="h3">@ViewData["Title"]</h1>
            </div>

            <div class="card-body p-4">
                @await Html.PartialAsync("_Alerts")
                <form method="post" class="p-3" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label asp-for="Nombre" class="form-label fs-5 fw-semibold"></label>
                        <input asp-for="Nombre" class="form-control" type="text" placeholder="Ingrese el nombre del paciente" />
                        <span asp-validation-for="Nombre" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ApellidoPaterno" class="form-label fs-5 fw-semibold"></label>
                        <input asp-for="ApellidoPaterno" class="form-control" type="text" placeholder="Ingrese el apellido paterno" />
                        <span asp-validation-for="ApellidoPaterno" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ApellidoMaterno" class="form-label fs-5 fw-semibold"></label>
                        <input asp-for="ApellidoMaterno" class="form-control" type="text" placeholder="Ingrese el apellido materno" />
                        <span asp-validation-for="ApellidoMaterno" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="FechaNacimiento" class="form-label fs-5 fw-semibold"></label>
                        <input asp-for="FechaNacimiento" class="form-control" type="date" placeholder="Fecha de nacimiento del paciente" />
                        <span asp-validation-for="FechaNacimiento" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Genero" class="form-label fs-5 fw-semibold"></label>
                        <select asp-for="Genero" asp-items="ViewBag.Generos" class="form-select form-select-lg">
                            <option value="">Seleccione un genero</option>
                        </select>
                        <span asp-validation-for="Genero" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Telefono" class="form-label fs-5 fw-semibold"></label>
                        <input asp-for="Telefono" class="form-control" type="tel" placeholder="Ingrese el número de teléfono" />
                        <span asp-validation-for="Telefono" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label fs-5 fw-semibold"></label>
                        <input asp-for="Email" class="form-control" type="email" placeholder="Ingrese el correo electrónico" />
                        <span asp-validation-for="Email" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Direccion" class="form-label fs-5 fw-semibold"></label>
                        <input asp-for="Direccion" class="form-control" type="text" placeholder="Ingrese la dirección del paciente" />
                        <span asp-validation-for="Direccion" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NumeroSeguroSocial" class="form-label fs-5 fw-semibold"></label>
                        <input asp-for="NumeroSeguroSocial" class="form-control" type="text" placeholder="Ingrese el número de seguro social" />
                        <span asp-validation-for="NumeroSeguroSocial" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Foto">Cargar imagen</label>
                        <input asp-for="Foto" />
                        <span asp-validation-for="Foto" class="text-danger small"></span>
                    </div>

                    <div class="text-center mt-4">
                        <a asp-action="Index" asp-controller="Paciente" class="btn btn-outline-secondary px-4 py-2">Cancelar</a>

                        <button type="submit" class="btn btn-success px-4 py-2">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>